/* Start of Fourth Sectional */
/* Experiences */
.fourth-sectional{
    display: flex;
    width: 100%;
    min-height: 110vh;
    /* background-color: #693B2B; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.fourth-sectional-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
}
@media (max-width: 1025px) {
    .fourth-sectional-container{
        width: 90%;
    }
}
/* Experience category */
.fourth-sectional-container h2{
    font-size: max(2.25vh, 1.75em);
}
.experience-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;

    @media (max-width: 390px) {
        /* flex-direction: row; */
        flex-wrap: wrap;
    }
}


.experience-items-flex-container{
    display: flex;
    width: 22%;
    margin: 0% 1% 0%;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
@media (max-width: 390px){
    .experience-items-flex-container {
        width: 40%;
        flex-wrap: wrap;
        margin: 3%
    }
}
.experience-image {
    width: 100%;
    aspect-ratio: 16/16;
    border-radius: .5rem;
    object-fit: fill;

}

.experience-text p {
    padding: 7%;
    font-size: min(22px,2vw);
}
@media (max-width: 390px){
    .experience-text p {
        font-size: .8rem;
        text-align: left;
    }
}

.experience-label{
    font-size: 2vh;
    font-weight: 500;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}