/* Start of Third Sectional */
/* Projects */
.third-sectional{
    width: 100%;
    height: 100vh;
    /* height: max(100vh, 80rem); */
    min-height: fit-content;
    /* overflow:hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-sectional-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;

}
.third-sectional-container h2{
    color: var(--white);
    font-size: max(2.25vh,1.2rem);
    margin-bottom: 2vh;
}

.projects-links{
    display: flex;
    flex-direction: row;
}
@media (max-width: 450px) {
    .projects-links{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

.collective-projects-flex-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1025px){
    .collective-projects-flex-container{
        flex-direction: column;
        align-items: center;
        margin-right: 4%;
    }
}
@media (max-width: 450px){
    .collective-projects-flex-container{
        width: 80%;
        flex-direction: row;
        flex-wrap: nowrap;
        

    }
}


.projects-box-layout{
    /* This is the anchor */
    display: flex;
    width: var(--width);
    height: auto;
    margin: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    object-fit: cover;
}
@media (max-width: 1025px){
    .projects-box-layout{
        width: 85%;
    }
}
@media (max-width: 450px){
    .projects-box-layout{
        width: 65%;
    }
}
.projects-image{
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 16/12;
    border-radius: .75rem;
    object-fit: fill;
}
.projects-label{
    font-size: min(20px,2vw);
    font-weight: bold;
    color: var(--white);
}

.projects-text{
    color: white;
    width: 50%;
    font-size: 1.85em;
    
}
@media (max-width: 1025px){
    .projects-text{
        padding: 7%;
        font-size: 1rem;
        text-align: left;
    }
}
@media (max-width: 450px){
    .projects-text{
        width: 90%;
    }
}

.projects-text-p{
    padding: 7%;
    font-size: min(22px,2vw);
}
    @media (max-width: 1025px){
        .projects-text-p{
            padding: 5%;
            font-size: .7rem;
            text-align: left;
        }
    }
        @media (max-width: 450px){
            .projects-text-p{
                font-size: .5rem;
                text-align: left;
            }
        }
/* End of Third Sectional */