
@keyframes slide-in {
    0%      {opacity: 0; margin-bottom:-35%;}
    25%     {opacity: 0.25; margin-bottom:-17.5%;}
    50%     {opacity: 0.5; margin-bottom:-8.75%;}
    75%     {opacity: 0.75; margin-bottom:-4.375%;}
    100%    {opacity: 1; margin-bottom:0%;}
}
.first-sectional {
    width: 100%;
    height: max(100vh, 600px);
}

.first-sectional-container{
    width: 100%;
    height: 70%;
    margin: 2%;
    color: #FFFFFF;
    max-width: 1500px;
}

.home-container{
    display: flex;
    /* width: 100%; */
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home-info-container {
    display: flex;
    width: 100%;
    height: 100%;
    /* margin: auto; */
    flex-direction: row;
    /* min-width: fit-content; */
    align-items: center;
    justify-content: center;
}
@media (max-width: 1025px) {
    .home-info-container {
        flex-direction: column;
        align-items: center;   
    }
}


.photo-flex{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: visible !important;
    /* z-index: 0; */
}
@media (max-width: 1025px) {
    .photo-flex{
        width: 90%;
        height: 65%;

    }
}
@media (max-height: 800px) {
    .photo-flex{
        width: 90%;
        height: 55%;

    }
}




.greetings-flex{
    display:flex;
    position: relative;
    width: 55%;
    overflow: none;
    /* margin-right: 10%; */
    flex-direction: column;
    /* overflow: visible; */
    flex-wrap: nowrap;
}
@media (max-width: 450px) {
    .greetings-flex{
        /* width: 90%; */
        bottom: 12%;
        margin-right: 0%;
    }
}

.greetings-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 5%; */
    text-align: center;
    /* white-space: nowrap;  */
    flex-wrap: nowrap;
}
@media (max-width: 450px) {
    .greetings-box{
        white-space: pre-wrap;
    }
}

.greetings-box i{
    color: var(--primaryColor);
    font-size: 1.1rem;
}

.greetings-flex h1{
    font-size: 1.75rem;
}
@media (max-width: 450px) {
    .greetings-flex h1{
        font-size: 1.5rem;
    }
}

.greetings-box div{
    font-size: .9rem;
    text-align: center;
}
@media (max-width: 450px) {
    .greetings-box div {
        font-size: .8rem;
        width: 60%;
    }
}



.tech-stack-container {
    width: 80%;
}

.stackPng {
    width: 60px;
    margin: 3vw;
    aspect-ratio: 16/14;
}
.stackPngSQL{
    width: 9%;
    margin: 3vw;
    aspect-ratio: 16/14;
}


.cursor {
    /* display: inline-block; */
    /* overflow: none; */
    width: 4px;
    background-color: #FFFFFF;
    margin-left: 7px;
    animation: blink 0.7s steps(1) infinite;
    transform: rotate(10deg)
}

.cursor .typing {
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}