@font-face {
    font-family: "Open-Sans";
    src: local("Open-Sans"), url("./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
} 
@font-face {
    font-family: "EB-Garamond"; /* Closest font to Silian Rail iykyk */
    src: local("EB-Garamond"), url("./fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf"), format(truetype);

}
:root {
    --primaryColor: #7b5fc7;
    --secondaryColor: #000000;
    --tertiaryColor: #39383d;
    --white: #ffffff;
    --width: 40%;
}

html,body {
    width: 100vw;
    font-size: 20px;
    background-color: var(--tertiaryColor);
    font-family: Open-Sans;
    font-size: 20px;    
    overflow-x: hidden; 
    letter-spacing: .175rem;
    
}
#highlight{
    color: var(--primaryColor)
}
