@font-face {
    font-family: "Open-Sans";
    src: local("Open-Sans"), url("./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
} 
@font-face {
    font-family: "EB-Garamond"; /* Closest font to Silian Rail iykyk */
    src: local("EB-Garamond"), url("./fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf"), format(truetype);

}
:root {
    --primaryColor: #7b5fc7;
    --secondaryColor: #000000;
    --tertiaryColor: #39383d;
    --white: #ffffff;
    --width: 25%; /* default*/
}


html,body {
    width: 100vw;
    /* min-height: 100vh; */
    background-color: var(--tertiaryColor);
    font-family: Open-Sans;
    overflow-x: hidden; 
    
}

@media (min-width: 600px) {

/*------------------------------------------------------------------*/

@keyframes slide-in {
    0%      {opacity: 0; margin-bottom:-35%;}
    25%     {opacity: 0.25; margin-bottom:-17.5%;}
    50%     {opacity: 0.5; margin-bottom:-8.75%;}
    75%     {opacity: 0.75; margin-bottom:-4.375%;}
    100%    {opacity: 1; margin-bottom:0%;}
}
.first-sectional {
    display: flex;
    flex-direction: column;
    width:100%;
    /* height: max(100vh,70rem); */
    height: 100vh;
    /* min-height: fit-content; */
    align-items: center;
    /* justify-content: space-around; */
}
/*----------Start of Nav----------*/
.container-nav{
    display: flex;
    flex-direction: row;
}
.navigation-links{
    color: var(--white);
    padding: 1.5vw 3vw;
    margin: 0vw 1.5vw;
    /* z-index: 1; */
}
.navigation-links:hover{
    color: var(--primaryColor);
}


.first-item-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    /* align-self: center; */
    /* justify-content: center; */
}
.first-sectional-container {
    display: flex;
    flex-direction: row;
    width: min(70vw,150rem);
    min-width: fit-content;
    align-self: center;
    justify-self: center;
}


.photo-flex{
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: visible;
    padding-right: 30px;
}
.photo-selfie{
    width:  95%;
    max-width: 600px;
    max-height: 900px;
    min-width: 500px;
    height: 70%;
    
}
.greeting-flex{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    text-align: center;
    overflow: visible;
    flex-wrap: nowrap;
}
.greetings-box{
    margin: 5vh;
    color: #FFFFFF;
    white-space: nowrap; /*Stops line from breaking*/
}
.greetings-box i{
    color: var(--primaryColor);
}
.greeting-flex h1{
    font-size: 2.75em;
}
.greeting-flex h2{
    font-size: 1.5em;
}
.tech-stack-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stackPng {
    width: 9%;
    margin: 3vw;
    aspect-ratio: 16/13;
}
.stackPngSQL{
    width: 9%;
    margin: 3vw;
    aspect-ratio: 16/14;
}
/*------------------------------------------------------------------*/
/* Beginning of Second Sectional */
/* Passions */
.second-sectional{
    width: 100%;
    height: 100vh;
}
.second-sectional-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.second-sectional-container h2{
    /* font-size: 2.75vh; */
    color: var(--white);
    font-size: max(2.25vh,2.75em);
    margin-bottom: 2.5vh;
}
.passion-links{
    display: flex;
    flex-direction: row;

}

.collective-passions-flex-container{
    width: 50%;
    /* height: 50%; */
    display: flex;
    flex-direction: row;
    /* gap: 4vw; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
.passion-box-layout{
    /* This is the anchor */
    display: flex;
    width: var(--width);
    height: auto;
    /* flex-grow: ; */
    margin: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    /* object-fit: cover; */
}

.passion-image{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/14;
    border-radius: .75rem;
    object-fit: fill;
}
.passion-label{
    font-size: min(20px,2vw);
    font-weight: bold;
    color: var(--white);
}

/* End of Second Sectional */
/*------------------------------------------------------------------*/
/* Start of Third Sectional */
/* Projects */
.third-sectional{
    display: flex;
    width: 100%;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.third-sectional-container h2{
    font-size: max(2.25vh,1.2em);
}
.third-sectional-container{
    display: flex;
    max-width: 1500px;
    width: 100%;
    /* height: 100%; */
    gap: 2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.collective-projects-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
}
.projects-box-layout{
    display: flex;
    width: 35%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black; /*for link color*/
    object-fit: cover;
}
.projects-image{
    max-width:60%;
    max-height: 85%;
    border-radius: 1.5em;
}
.projects-label{
    font-size: 2vh;
    font-weight: 700;
}
/* End of Third Sectional */
/*------------------------------------------------------------------*/
/* Start of Fourth Sectional */
/* Experiences */
.fourth-sectional{
    display: flex;
    width: 100%;
    min-height: 110vh;
    background-color: #693B2B;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.fourth-sectional-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
}
/* Experience category */
.fourth-sectional-container h2{
    font-size: max(2.25vh,1.2em);
}
.box-layout-flex-row-container{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    width: 95%;
    height: 45%;
    align-items: center;
    justify-content: center;
}
.experience-items-flex-container{
    display: flex;
    width: 45%;
    height: 40vh;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;

}
.experience-image {
    width: 100%;
    height: 90%;
    border-radius: .5rem;
    /* object-fit: ; */
  }
.experience-label{
    font-size: 2vh;
    font-weight: 500;
}
/*------------------------------------------------------------------*/

/* Start of Footer */
.footer-sectional{
    display: flex;
    width: 100%;
    background-color: #48494B;
    flex-direction: column;
    align-items: center;
    color: white;
}
.footer-sectional h2{
    font-size: max(1.5vh,1.2em);
    margin:  .75vw 0rem .75vw 0rem; /*Top Right Bottom Left*/
    /* margin-top: .75vw; */
    /* margin-bottom: .75vw; */
    /* font-size: 1.5vh; */

}

.footer-links-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: max(1.5vh,1em);
    /* width: 80%; */
    /* height: 20%; */

}
.footer-links-flex a{
    padding: 1vh 7vw 2vh 7vw; /*Top Right Bottom Left*/
    text-decoration: none;
    color: white;
}    
}
/*------------------------------------------------------------------*/
/* saving this color Honeydew: #F0FFF0 */



    /* Adjustments to primary css flags */
    /* .first-sectional-container {
        display: flex;
        flex-direction: row;
        width: 95vw;
    }
    .greeting-flex h1{
        font-size: 6vw;
    }
    .greeting-flex h2{
        font-size: 4vw;
    }





    .experience-image {
        width: 100%;
        height: 25%;
        border-radius: .5rem;
        object-fit: cover;
      } */
/* } */
 