.item-image {
    max-width: 200px;
    /* height: 200px; */
    display: flex;
    flex: 1 9;
    /* border-radius: .5rem; */
    object-fit: contain;
}

.img-text-hz-card {
    /* min-width: 500px; */
    margin: 30px 60px;
}

.img-text-hz-card > div > h4 {
    margin: 20px 0px;
}

.img-text-hz-card > div {
    display: flex;
    flex: 9 1;
    width: 90%;
    margin: 15px 20px;
}

